/* max */
.bFtotd, .bFRpAU {
  background: none !important;
}

.kVqvyD, .fjnkue {
  background: none !important;
}

/* prime */
.f1aiijcp { /* playback control */
  opacity: 0.3;
}
.f1hoalfx { /* x-ray */
  opacity: 0.3;
}
.f1makowq { /* full backdrop */
  opacity: 0 !important;
}
