/* max */
.jCaBU { /* full backdrop */
  background: none !important;
}
.lnpqhh { /* half top */
  background: none !important;
}

/* prime */
.f1aiijcp { /* playback control */
  opacity: 0.3;
}
.f1hoalfx { /* x-ray */
  opacity: 0.3;
}
.fkpovp9 { /* full backdrop */
  opacity: 0 !important;
}
